.shop{
    display: flex;
}

.product-container {
    width: 1000px;

}

.cart-container{
    text-align: center;
    width: 400px;
     
    
    
    
}

.product-container{
    /* border: 3px solid red; */
    height: 800px;
    overflow-y: hidden;
    overflow:scroll;
}